@import '@styles/Variables.module.scss';

.Card {
    display: inline-block;
    vertical-align: top;
    
    @media screen and (max-width: 768px) {
        width: 20rem;
    }
    @media screen and (min-width: 768px) {
        width: 25rem;
    }
    margin: 1rem;
    background: $color_2;
    white-space: normal;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
        background: $color_3;
      }
    .CardTitleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        .CardTitle {
            font-size: 1.5rem;
            font-weight: $text_4_weight;
            margin-bottom: 0;
            text-align: center;
        }
    }

    .CardDescription {
        font-size: 1rem;
        margin-bottom: 1rem;
        height: 9rem;
        padding: 0.5rem;
        width: 100%;
        text-align: justify;
        text-justify: inter-word;
        text-align-last: left;
        p{
            font-size: 1rem;
            font-weight: $text_3_weight;
            user-select: none;
        }
    }
    .CardImageContainer {
        width: 100%;
        
        @media screen and (max-width: 768px) {
            height: 12rem;
        }
        @media screen and (min-width: 768px) {
            height: 15rem;
        }
        overflow: hidden;
        border-radius: 0.25rem;
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
        display: flex;
        .CardImage {
            width: 20rem;
            height: auto;
            object-fit: cover;
            object-position: center;
            margin-bottom: 1rem;
        }
    }

    .CardButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        
        
        .CardButton {
            margin-right: 1rem;
            background-color: $color_5;
            color: white;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                background-color: $color_6;
              }
        }
    }

  }