@import '@styles/Variables.module.scss';

.CarouselMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $width_all;
  height: 100vh;
  background: $gradient_1;
}


.CarouselTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: $width_all;
  margin: 1rem;
  .CarouselTitle {
    font-size: 2rem;
    font-weight: $text_4_weight;
    margin-bottom: 1rem;
    user-select: none;
  }
  .CarouselSubtitle {
    font-size: 1rem;
    font-weight: $text_3_weight;
    margin-bottom: 1rem;
    user-select: none;
  }
}

.CarouselContainer {
  overflow-x: hidden;
  white-space: nowrap;
  @media screen and (max-width: 768px) {
    width: $width_all;
  }
  @media screen and (min-width: 768px) {
    width: $width_three_quarters;
  }
  
}

.CarouselButton {
  display: flex;
  
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 100%;
    position: relative;
    margin-top: 2rem;
    justify-content: space-around;

  }
  @media screen and (min-width: 768px) {
    width: 90%;
    position: absolute;
    justify-content: space-between;
  }
  padding:  0.5rem;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  button {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: $color_5;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $color_6;
    }
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;

      &:hover {
        background-color: $color_5;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }

  $gray-600: #718096;
  $gray-700: #4a5568;

  .CarouselButtonPrev {
    left: 1rem;
    &::before {
      content: '';
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      border-top: 0.25rem solid $color_2;
      border-left: 0.25rem solid $color_2;
      transform: rotate(-45deg);
    }
  }

  .CarouselButtonNext {
    right: 1rem;
    &::before {
      content: '';
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      border-top: 0.25rem solid $color_2;
      border-right: 0.25rem solid $color_2;
      transform: rotate(45deg);
    }
  }
}
