$color_0: rgba(248, 249, 250, 1);
$color_1: rgba(233, 236, 239, 1);
$color_2: rgba(222, 226, 230, 1);
$color_3: rgba(206, 212, 218, 1);
$color_4: rgba(173, 181, 189, 1);
$color_5: rgba(108, 117, 125, 1);
$color_6: rgba(73, 80, 87, 1);
$color_7: rgba(52, 58, 64, 1);
$color_8: rgba(33, 37, 41, 1);
$color_9: rgba(29, 31, 32, 1);
$color_11: rgba(15, 16, 17, 1);

// Colors icons dark #343a40
// Colors icons light #ced4da


$gradient_0: linear-gradient(to bottom, $color_0, $color_1);
$gradient_1: linear-gradient(to bottom, $color_1, $color_2);
$gradient_2: linear-gradient(to bottom, $color_2, $color_4);
$gradient_3: linear-gradient(to bottom, $color_3, $color_4);


$text_1_weight: 100;
$text_2_weight: 200;
$text_3_weight: 300;
$text_4_weight: 400;
$text_5_weight: 500;
$text_6_weight: 600;
$text_7_weight: 700;
$text_8_weight: 800;
$text_9_weight: 900;

$width_all: 100%;
$width_half: 50%;
$width_three_quarters: 75%;

// 343A40